tools/query_assistant/doc/query_assistant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by ALAIN PIERRE (GROUPE S SOPA ASBL) -->
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="access">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="sql"/>
				<xs:element ref="parameter_set"/>
				<xs:element ref="result_set"/>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PARTICIPANTS_BY_AMOUNT"/>
						<xs:enumeration value="PARTICIPANTS_BY_NAME"/>
						<xs:enumeration value="PARTICIPANTS_BY_REMAINING"/>
						<xs:enumeration value="PARTICIPANTS_BY_ZIP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="access" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="last_name"/>
						<xs:enumeration value="paid_amount"/>
						<xs:enumeration value="remaining_amount"/>
						<xs:enumeration value="zip"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="table" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PARTICIPANT"/>
						<xs:enumeration value="REGISTRATION"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="column" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="last_name"/>
						<xs:enumeration value="paid_amount"/>
						<xs:enumeration value="zip"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter_set">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="parameter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="result_set">
		<xs:complexType>
			<xs:attribute name="extends" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PARTICIPANT_AMOUNT_ROW"/>
						<xs:enumeration value="PARTICIPANT_ROW"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sql" type="xs:string"/>
</xs:schema>
