tools/query_assistant/qa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="access">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="sql"/>
				<xs:element ref="parameter_set"/>
				<xs:element ref="result_set"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter_map"/>
				<xs:element ref="access" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter" type="parameterType"/>
	<xs:element name="parameter_map">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter_set">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="extends" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="result_set">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="extends" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sql" type="xs:string"/>
	<xs:complexType name="parameterType">		
		<xs:attribute name="table" type="xs:string" use="required"/>
		<xs:attribute name="column" type="xs:string" use="required"/>
		<xs:attribute name="sample" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>
